*
!Images/
!Images/**
!alacritty/
!alacritty/**
!bin/
!bin/**
!bspwm/
!bspwm/**
!cava/
!cava/**
!eww/
!eww/**
!fastfetch/
!fastfetch/**
!fish/
!fish/**
!hypr/
!hypr/**
!hyprland.conf
!waybar/
!waybar/**
!kitty/
!kitty/**
!matugen/
!matugen/**
!neofetch/
!neofetch/**
!nvim/
!nvim/**
!polybar/
!polybar/**
!ranger/
!ranger/**
!rofi/
!rofi/**
!swaync/
!swaync/**
!sxhkd/
!sxhkd/**
!tmux/
!tmux/**
!quickshell/
!quickshell/**
!firefox/
!firefox/**
!README.md
!yazi/
!yazi/**
!.gitignore
