* {
	border-radius: 20px;
	border: none;
	font-family: JetBrainsMono-Bold, Symbols Nerd Font;
	font-family: "JetBrainsMono Nerd Font";
	font-weight: normal;
	font-size: 1rem;
	padding: 0px 0px;
	margin: 0px 5px;
}

@import url("/home/ognev/.cache/cwal/colors-waybar.css");

@define-color cyan #00d7d7;
@define-color red #ff6b6b;

window#waybar {
	background-color: rgba(28, 28, 28, 0.5);
	color: #ffffff;
	transition-property: background-color;
	transition-duration: .5s;
}

#workspaces button {
	color: @color8;
	padding: 4px 0px;
	margin: 0px 7px;
}

#workspaces button:hover {
	color: @fg;
}

#workspaces button.active {
	color: @fg;
}

#workspaces button.urgent {
	color: @red;
}



#clock {
	padding: 0 10px;
	margin: 0 6px;
	color: @fg;
}

#custom-menu {
	color: @cyan;
	padding: 0px 10px;
	margin: 0px 10px;
}

#custom-sep {
	color: rgba(0, 0, 0, 0.0);
}

#window {
	color: @cyan;
	font-weight: bold;
}
