/* =======================
   LATIN ACCENT - FIREFOX DARK & TRANSPARENT THEME
   Made with cariño by Acercandr0
   ======================= */

@-moz-document url("about:home"), url("about:newtab"), url("about:blank") {
  html,
  body {
  background-image: url("wallpaper.jpg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position-x: center !important;
  background-position-y: bottom !important;
  }
  #root,
  .outer-wrapper,
  main,
  .customize-menu,
  .discovery-stream,
  .ds-layout,
  .sections-list,
  .top-sites,
  .search-wrapper {
    background: transparent !important;
    background-color: transparent !important;
    background-image: none !important;
    box-shadow: none !important;
    filter: none !important;
    border: none !important;
  }
